{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>


        <div class="sort-block">
            <span>Сортировать по:&nbsp</span>
            <a href="{{ phones_catalog_url }}?sort=name">названию</a><span>&nbsp|</span>
            <a href="{{ phones_catalog_url }}?sort=min_price">начиная с дешёвых</a><span>&nbsp|</span>
            <a href="{{ phones_catalog_url }}?sort=max_price">начиная с дорогих</a>
        </div>

        <div class="content">
            <table width="100%">
            <tr>
            {% for phone in ordered_phones %}
                <td width="50%">
                    {% include "block_phone.html" %}
                </td>
                {% cycle '' '</tr><tr>' %}
            {% endfor %}
            </tr>
            </table>
        </div>
    </div>
{% endblock %}